SLACK_XAPP = "xapp"
SLACK_XOXB = "xoxb"

SLACK_CLIENT_ID = ""
SLACK_CLIENT_SECRET = ""

SLACK_REDIRECT_URI = https://your-domain/slack/callback #optional if no share it with other workspace


NASA_API_KEY = ""
